* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab";
    font-weight: 900;
    font-style: bold;
}

#nav-principal a{
    color: black;
    padding-right: 1em;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
}

#nav-principal a:hover {
    color: rgb(130, 16, 16);
}

#button {
    border-color: black;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);

    & .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
}

#home {
    margin-top: 6em;
    background: url('./Img/expanse.png') no-repeat;
    width: 100%;
    height: 1000px;
    background-size: cover;
    text-align: center;

    & h1 {
        color: white;
        margin-top: 8rem;
        font-size: 2.3rem;
        font-weight: 900;
    }

    & img {
        width: 42rem;
        padding-top: 2rem;
    }

    & .col-auto {
        background: rgba(31, 31, 31, 0.407);
        color: white;

        & img {
            filter: invert(100%);
            padding: 1.2rem 0.8rem 1rem 0.6rem;
            width: 3rem;
            height: 3.7rem;
        }

        & p {
            font-weight: 300;
            font-size: 0.9rem;

        }
    }

    & #xbox:hover, #steam:hover, #epic:hover, #ps:hover {
        background: rgba(255, 166, 0, 0.288);
        cursor: pointer;
    }

    & .btn {
        font-style: italic;
        color: #9EDDE1;
        border-width: 0.18rem;
        border-color: #9EDDE1;
        border-radius: 50px;
        font-weight: bold;
        font-size: large;
    }

    & .btn:hover {
        background-color: #9EDDE1;
        color: black;
    }
}

